<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<bean id="dsHsql"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:mydb" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="dsOracle"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="system" />
		<property name="password" value="oracle" />
	</bean>

	<bean id="studentDao"
		class="com.honsoft.springhsql.StudentDaoImpl">
		<property name="dataSource" ref="dsHsql"></property>
	</bean>

	<bean id="studentDaoSupport"
		class="com.honsoft.springhsql.StudentDaoImplSupport">
		<property name="dataSource" ref="dsHsql"></property>
	</bean>
	
	<jdbc:initialize-database data-source="dsHsql">
		<jdbc:script location="classpath:hsqldb/schema-hsqldb.sql" />
		<jdbc:script location="classpath:hsqldb/data-hsqldb.sql" />
	</jdbc:initialize-database>

</beans>  